version: 2

setup: &setup
  working_directory: /home/circleci/app
  docker:
    - image: circleci/python:3.6.3
    - image: circleci/postgres:9.6.2
      environment:
        POSTGRES_USER: circleci
        POSTGRES_DB: test_db

install_requirements: &install_requirements
  run: # install and activate virtual environment with pip
    name: Installing requirements
    command: |
      python3 -m venv venv
      . venv/bin/activate
      pip install --upgrade pip
      pip install -r api/requirements.txt

run_tests: &run_tests
  run:
    name: Testing
    command: |
      . venv/bin/activate
      pytest --cov=api/app api/tests
setup_test_database: &test_db_setup
  run:
    name: Setting up test database
    command: |
      . venv/bin/activate
      python api/manage.py db init
      python api/manage.py db migrate
      python api/manage.py db upgrade

jobs:
  build:
    <<: *setup
    steps:
      - checkout
      - *install_requirements
      - *test_db_setup
      - *run_tests
